<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      HIMYB
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink='/'>
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
         Members
        </a>
        <div class="navbar-dropdown">
         <a class="navbar-item" >
          Tanmay Agrawal
         </a>
         <a class="navbar-item">
          Sujaan Kumar
         </a>
         <a class="navbar-item">
          Kushagra Babbar
         </a>
         <a class="navbar-item">
         Athrava Karanjgaokar
         </a>
         <a class="navbar-item">
         Rijuta Singh
         </a>
         <a class="navbar-item">
         Ashana Sharan
         </a>
         <a class="navbar-item">
         Nimit Rathore
         </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink='/memories'>
          Memories
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="./#haridwar1">
          haridwar trip
          </a>
          <a class="navbar-item">
            choreo-fos
          </a>
          <a class="navbar-item">
           night-fun
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item" routerLink='/rijuta'>
            status
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Join Us!
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            Sign up
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
