<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child box is-dark notification ">
                    <img src="..\assets\nightout-1.JPG">
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child">
                    <img src="">
                  </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child">
                  <img src="">
                </article>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile box is-dark notification">
                <img src="">
              </article>
              <article class="tile is-child box is-dark notification">
                <img src="">
              </article>
            </div>
          </div>          
    </div>
  </section>
