<section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
            <div class="column ">
                <figure class="image is-248*248">
                    <img class="is-rounded" src="..\assets\sujaan.JPG">
                </figure>                 
            </div>
            <div class="verticalLine"></div>
            <div class="column is-three-quarters">
              <h2><p style="text-align:center">Soojan is single but is lazzzzzyyy!sooo sooorrryyy!!</p></h2>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <figure class="image is-248*248">
                    <img class="is-rounded" src="..\assets\babbar.JPG">
                </figure>                 
            </div>
            <div class="verticalLine"></div>
            <div class="column is-three-quarters">
                <h2><p style="text-align:center">He is single but is unavailable!SORRY!</p></h2>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <figure class="image is-248*248">
                    <img class="is-rounded" src="..\assets\Rijuta.JPG">
                </figure>                 
            </div>
            <div class="verticalLine"></div>
            <div class="column is-three-quarters">
                <h2><p style="text-align:center">Juta is single!</p></h2>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <figure class="image is-248*248">
                    <img class="is-rounded" src="..\assets\Ashana.JPG">
                </figure>                 
            </div>
            <div class="verticalLine"></div>
            <div class="column is-three-quarters">
                <h2><p style="text-align:center">She is single too!</p></h2>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <figure class="image is-248*248">
                    <img class="is-rounded" src="..\assets\tanmay.JPG">
                </figure>                 
            </div>
            <div class="verticalLine"></div>
            <div class="column is-three-quarters">
                <h2><p style="text-align:center">This man is taken!</p></h2>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <figure class="image is-248*248">
                    <img class="is-rounded" src="..\assets\Atharva.JPG">
                </figure>                 
            </div>
            <div class="verticalLine"></div>
            <div class="column is-three-quarters">
                <h2><p style="text-align:center">He is single and currently is busy with studies !!So he is sorry too!</p></h2>
            </div>
        </div>    
            <div class="columns">
                <div class="column ">
                    <figure class="image is-248*248">
                        <img class="is-rounded" src="..\assets\Capture.JPG">
                    </figure>                 
                </div>
                <div class="verticalLine"></div>
                <div class="column is-three-quarters">
                    <h2><p style="text-align:center">He is single and ready to mingle!!Please contact :8699815957(ammi's no.)for further details and verification!</p></h2>
                </div>    
        </div>
      </div>
    </div>
  </section>