 
<section class="hero is-black is-bold">
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child">
                    <img src="..\assets\trip-2.JPG">
                  </article>
                  <article class="tile is-child">
                    <img src="..\assets\trip-8.JPG">
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child">
                    <img src="..\assets\trip-6.JPG">
                  </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child">
                  <img src="..\assets\trip-7.JPG">
                </article>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile box is-black notification">
                <img src="..\assets\trip1.JPG">
              </article>
              <article class="tile is-parent box is-black notification">
                <img src="..\assets\trip-5.JPG">
              </article>
            </div>
          </div>          
    </div>
  </section>


